.mainconatiner {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8f8f8;
}


.center-marker {
  height: 50px;
  width: 100vw;
  position: absolute;
  top: calc(50% - 360px);
  display: none;
}
.center-marker div {
  height: 30px;
  width: 1px;
  margin: auto;
  background: #8882;
}

.js-slideshow {
  --offset: 1600px;
  --overlap: 2;
  --image-gap: 6;
  --offset-time: 0.48s;
  --thumb-border-radius: 0;
  --thumb-size: 50;
  --thumbs-width: 20000;
  width: calc(100vw - 0px);
  max-width: 880px;
  position: relative;
  user-select: none;
}
.js-slideshow__slides-wrapper {
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 50%;
  overflow: hidden;
}
.js-slideshow__slides {
  position: absolute;
  height: 100%;
  width: 40000px;
  left: 50%;
  transform: translate(calc(var(--offset) * -1), 0);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  transition: transform var(--offset-time) ease;
}
.js-slideshow__slides img {
  height: 100%;
  display: block;
  margin-left: calc(var(--image-gap) * 0.5px);
  margin-right: calc(var(--image-gap) * 0.5px);
}
.js-slideshow__thumbs-wrapper {
  width: 100%;
  height: calc(var(--thumb-size) * 1px + 18px);
  margin-top: calc(var(--image-gap) * 1px);
  position: relative;
  display: block;
  overflow: scroll;
  scroll-behavior: smooth;
}
.js-slideshow__thumbs {
  width: calc(var(--thumbs-width) * 1px);
  display: grid;
  grid-auto-rows: calc(var(--thumb-size) * 1px);
  grid-template-columns: repeat(auto-fit, calc(var(--thumb-size) * 1px));
  grid-gap: calc(var(--image-gap) * 1px);
}
.js-slideshow__thumb-image {
  margin: 0;
  position: relative;
}
.js-slideshow__thumb-image img {
  height: 100%;
  width: 100%;
  display: block;
  border-radius: var(--thumb-border-radius);
  object-fit: cover;
}
.js-slideshow__thumb-image--selected:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--thumb-border-radius);
  box-shadow: inset 0 0 0 3px rgba(50, 200, 200, 0.8);
}

@media (min-width: 700px) {
  .js-slideshow {
    --thumb-size: 77;
  }
  .js-slideshow__thumbs-wrapper {
    display: block;
  }
}


.section2 {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
  }

  .section21, .section22 {
    flex: 1;
  }

  .section21 {
    background-color: #f8f8f8;
    padding: 3rem;
    border-radius: 10px;
  }

  .section22 {
    border-radius: 10px;
    color: white;
    text-align: center;
  }

  .section22 .learnmoreimage {
    width: 100%;
    border-radius: 10px;
  }

  .btn {
    background-color: #008CFE;

    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }

  .btn:hover {
    background-color: #383838;

    color: #ffffff;
  }

  .container {
  }

  .col-md-4 {
    text-align: center;
    margin-bottom: 2rem;
  }

  .col-md-4 h3 {
    margin-top: 1rem;
  }

  .coursel{
    display: flex;
  }

  header .item {
    height: 100vh;
    position: relative;
  }
  header .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  header .item .cover {
    padding: 75px 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
  }
  header .item .cover .header-content {
    position: relative;
    padding: 56px;
    overflow: hidden;
  }
  header .item .cover .header-content .line {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    border: 9px solid #fff;
    -webkit-clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
    clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
  }
  header .item .cover .header-content h2 {
    font-weight: 300;
    font-size: 35px;
    color: #fff;
  }
  header .item .cover .header-content h1 {
    font-size: 56px;
    font-weight: 600;
    margin: 5px 0 20px;
    word-spacing: 3px;
    color: #fff;
  }
  header .item .cover .header-content h4 {
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    color: #fff;
  }
  header .owl-item.active h1 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeInDown;
    animation-delay: 0.3s;
  }
  header .owl-item.active h2 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeInDown;
    animation-delay: 0.3s;
  }
  header .owl-item.active h4 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeInUp;
    animation-delay: 0.3s;
  }
  header .owl-item.active .line {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeInLeft;
    animation-delay: 0.3s;
  }
  header .owl-nav .owl-prev {
    position: absolute;
    left: 15px;
    top: 43%;
    opacity: 0;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    background: rgba(0, 0, 0, 0.5) !important;
    width: 40px;
    cursor: pointer;
    height: 40px;
    position: absolute;
    display: block;
    z-index: 1000;
    border-radius: 0;
  }
  header .owl-nav .owl-prev span {
    font-size: 1.6875rem;
    color: #fff;
  }
  header .owl-nav .owl-prev:focus {
    outline: 0;
  }
  header .owl-nav .owl-prev:hover {
    background: #000 !important;
  }
  header .owl-nav .owl-next {
    position: absolute;
    right: 15px;
    top: 43%;
    opacity: 0;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    background: rgba(0, 0, 0, 0.5) !important;
    width: 40px;
    cursor: pointer;
    height: 40px;
    position: absolute;
    display: block;
    z-index: 1000;
    border-radius: 0;
  }
  header .owl-nav .owl-next span {
    font-size: 1.6875rem;
    color: #fff;
  }
  header .owl-nav .owl-next:focus {
    outline: 0;
  }
  header .owl-nav .owl-next:hover {
    background: #000 !important;
  }
  header:hover .owl-prev {
    left: 0px;
    opacity: 1;
  }
  header:hover .owl-next {
    right: 0px;
    opacity: 1;
  }
 


  @media (max-width: 768px) {
    .coursel{
      flex-direction: column;
    }
  }